{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
<div class="row"> 
	<div id="edu" class="col-sm-6 col-box">
		<h3>Recent Education</h3>
		<ul style="list-style-type:circle">
			<li><b><i>University of Michigan - Ann Arbor (2014-2018)</i></b></li>
			<li style="list-style-type:none"><b><i>Bachelor of Science: Computer Science</i></b></li>
			<li style="list-style-type:none"><b><i>Bachelor of Science: Economics</i></b></li>
			<li style="list-style-type:none">James B. Angell Scholar (2 terms of all As)</li>
			<li>University of Michigan Chess Club</li>
			<li>OpenLoop Team</li>
			<li style="list-style-type:none">Built a hyperloop pod with a group of students for a SpaceX competition</li>
			<li style="list-style-type:none">Installed the microcontroller and sensors that measure distance from the track</li>
		</ul>
	</div>
	<div id="experience" class="col-sm-6 col-box">
		<h3>Experience</h3>
		<ul style="list-style-type:circle">
			<li><b><i>Summer Internships (2016-2017):</i></b></li>
			<li style="list-style-type:none">Spent two summers in the Washington, DC area</li>
			<li style="list-style-type:none">Did machine learning using K-means clustering and SVMs</li>
			<li style="list-style-type:none">Data visualization, statistical summarization, and polynomial regression</li>
			<li style="list-style-type:none">Wrote various other programs and tools for employer</li>
			<li><b><i>Leidos Software Engineering Internship (August 2015):</i></b></li>
			<li style="list-style-type:none">Built and tested software control screens for Ford's Van Dyke plant using the Niagara Framework</li>
			<li>Computer Science Tutoring (2015-2016):</li>
			<li style="list-style-type:none">Taught programming concepts to introductory students</li>
		</ul>
	</div>
</div>
<div class="row">
	<div id="research" class="col-sm-6 col-box">
		<h3>Research</h3>
		<ul style="list-style-type:circle">
			<li><b><i>Artificial Intelligence Research (Summer 2017-present):</i></b></li>
			<li style="list-style-type:none">Ongoing research into the impact of adversarial machine learning on insider threat</li>
			<li style="list-style-type:none">Built a Bayesian spam filter with over 97% accuracy (after 10-fold CV) on the trec 2007 dataset</li>
			<li style="list-style-type:none">Built a reverse-engineering model using 300000 nytimes articles from the UCI ml repository</li>
			<li style="list-style-type:none">Done in conjunction with an AI professor at Georgetown University</li>
		</ul>
	</div>
	<div id="skills" class="col-sm-6 col-box">
		<h3>Skills</h3>
		<ul style="list-style-type:circle">
			<li>Machine Learning: Neural Nets, SVMs, Naive Bayes, K-Means, LDA, Regression, GMMs, HMMs, Decision Trees, Collaborative Filtering</li>
			<li>Languages: C/C++, Python, Java, JavaScript, x86/ARM Assembly, HTML5, CSS</li>
			<li>Operating Systems: Linux, Unix, Windows</li>
		</ul>
	</div>
</div>
<div class="row">
	<div id="edu" class="col-sm-6 col-box">
		<h3>Previous Education</h3>
		<ul style="list-style-type:circle">
			<li>Walled Lake Western HS - Walled Lake, MI (2010-2014)</li>
			<li style="list-style-type:none">4.37 GPA</li>
			<li style="list-style-type:none">Founder and president of debate club</li>
			<li style="list-style-type:none">Graduated summa cum laude, top ten of class</li>
			<li style="list-style-type:none">2350/2400 SAT score (top .1 percentile)</li>
			<li style="list-style-type:none">Inducted into academic hall of fame</li>
		</ul>
	</div>
	<div id="interests" class="col-sm-6 col-box">
		<h3>Interests</h3>
		<ul style="list-style-type:circle">
			<li>Artificial Intelligence, Machine Learning</li>
			<li>Evolutionary Computation</li>
			<li>Programming</li>
			<li>Solving puzzles</li>
			<li>Piano</li>
			<li>Violin</li>
			<li>Running</li>
		</ul>
	</div>
</div>
<div class="row">
	<div id="projects" class="col-sm-6 col-box">
		<h3>Independent Projects</h3>
		<ul style="list-style-type:circle">
			<li><a href="visualizer" class="link">Music Visualizer</a></li>
			<li style="list-style-type:none">Lights LEDs to music using fast fourier transforms run on an arduino</li>
			<li>Stock Price Forecaster</li>
			<li style="list-style-type:none">Employs a Naive Bayes learning model to forecast stock prices using indicators such as P/E, EPS</li>
			<li>Sudoku Solver</li>
			<li style="list-style-type:none">Solves the world's most difficult (or any) sudoku puzzle</li>
			<li>HackMIT 2016 Hackathon</li>
			<li style="list-style-type:none">Created a decentralized social network using a distributed hash table</li>
			<li>RSS Feed Reader</li>
			<li style="list-style-type:none">Parses XML files for real-time weather, sports scores, news</li>
			<li>ChatterBot</li>
			<li style="list-style-type:none">Holds conversations with the user (but doesn't <i>quite</i> pass the Turing Test)</li>
		</ul>
	</div>
</div>
</div>

	</body>
</html>

{% endblock %}

