{% extends "base.html" %}

{% block content %}

<h4>Here are some pics of the hyperloop pod:</h4>
<div class="w3-row" style="text-align:center">
	<div class="w3-col m4 rotateimg90" style="background-image:url('/static/david_openloop.jpg');background-size:cover;height:300px;"></div>
	<div class="w3-col m4 rotateimg90" style="background-image:url('/static/pod.jpg');background-size:cover;height:300px;"></div>
	<div class="w3-col m4 rotateimg90" style="background-image:url('/static/frame_openloop.jpg');background-size:cover;height:300px;"></div>
</div>

<!-- 
<div class="container-fluid">
<div class="row"> 
	<div class="col-sm-4 col-box">
		<img src="/static/david_openloop.jpg" height="500" class="rotateimg90">
	</div>
	<div class="col-sm-4 col-box">
		<img src="/static/pod.jpg" height="500" class="rotateimg90">
	</div>
	<div class="col-sm-4 col-box">
		<img src="/static/frame_openloop.jpg" height="500" class="rotateimg90">
	</div>
</div>
</div>
-->

{% endblock %}
