{% extends "base.html" %}

{% block content %}

<h4>Here are some pics of the hyperloop pod:</h4>
<div class="container-fluid">
<div class="row"> 
	<div class="col-sm-4 col-box">
		<img src="/static/david_openloop.jpg" height="500" class="rotateimg90">
	</div>
	<div class="col-sm-4 col-box">
		<img src="/static/pod.jpg" height="500" class="rotateimg90">
	</div>
	<div class="col-sm-4 col-box">
		<img src="/static/frame_openloop.jpg" height="500" class="rotateimg90">
	</div>
</div>
</div>

{% endblock %}
