<!DOCTYPE html>
<html lang="en">
	<body>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">	
	</head>
		<div>
			<p>Here's what the music visualizer looks like in action:</p>
			<div class="row"> 
				<div class="col-sm-6 col-box">
					<video width="100%" height="500" controls>
					<source src="/static/visualizer.mp4" type="video/mp4">
					Your browser does not support the video tag.
					</video>
				</div>
				<div class="col-sm-6 col-box">
					<img src="/static/arduino.jpg" class="rotateimg90" width="500">
				</div>
			</div>
			<div class="row"> 
				<div class="col-sm-6 col-box">
					<img src="/static/board.jpg" class="rotateimg90" width="500">
				</div>
				<div class="col-sm-6 col-box">
					<img src="/static/arduino2.jpg" class="rotateimg90" width="500">
				</div>
			</div>
		</div>
	</body>
</html>
