<!DOCTYPE html>
<html lang="en">
	<body>
		<div>
			<p>Here's a video of the music visualizer in action</p>
			<video width="600" height="500" controls>
			<source src="/static/visualizer.mp4" type="video/mp4">
			Your browser does not support the video tag.
			</video>
		</div>
		<div>
			<p>Here are some pics of the LED board and arduino</p>
			<img src="/static/board.jpg" width="600" height="500">
			<img src="/static/arduino2.jpg" width="600" height="500">
			<img src="/static/arduino1.jpg" width="600" height="500">
		</div>
	</body>
</html>
